
@{
    ViewData["Title"] = "Print Application forms";
}
<div class="text-center">
    <h1 class="display-4">Printable Application Forms</h1>
    <p>Use the forms below to apply for feature management...</p>
</div>

